---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@700;900&family=Playfair+Display:wght@400;500;600&display=swap'
      rel='stylesheet'
    />
    <script
      defer
      data-domain='mfm.justindra.com'
      src='https://plausible.io/js/script.js'
    ></script>
  </head>
  <body
    class='bg-gradient-to-br from-green-800 to-green-900 text-gold-400 font-serif text-xl'>
    <slot />
  </body>
</html>
